<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">

  <test name="ChromeTest">
  <parameter name="browser" value="chrome" />
   <parameter name="url" value="https://www.facebook.com/"> </parameter>
    <classes>
    <class name="Test.Test2"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
